<div id='links'>
  <!-- Your html here -->
    <div class='navigation'>
      <ul>
        <li><a href='#/links' class='index'>All Links</a></li>
        <li><a href='#/shorten' class='create'>Shorten</a></li>
        <li ng-controller='AuthController'><a class='logout' ng-click='signout()'>Signout</a></li>
      </ul>
    </div>
    <div id='container'>
      <input ng-model='filteredLink'>
      <ul class='link fx-fade-down fx-speed-900' ng-repeat='link in data.links | orderBy:predicate:reverse | filter:filteredLink' ng-click='navToLink(link)'>
        <img src='/assets/redirect_icon.png'/>
        <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
        <div class='title'>{{link.title}}</div>
        <div class='original'>{{link.url}}</div>
        <a href='{{base_url}}/{{code}}'>{{link.base_url}}/{{link.code}}</a>
      </div>
    </ul>
</div>
